[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-allauth = "*"
pillow = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
