
{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<div class="container card shadow p-4 w-50">
    <h2>Add Address</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_address_name" class="form-label">Address Name</label>
            {{ form.address_name }}
        </div>

        <div class="mb-3">
            <label for="id_full_name" class="form-label">Full Name</label>
            {{ form.full_name }}
        </div>

        <div class="mb-3">
            <label for="id_phone_number" class="form-label">Phone Number</label>
            {{ form.phone_number }}
        </div>

        <div class="mb-3">
            <label for="id_street_address" class="form-label">Street Address</label>
            {{ form.street_address }}
        </div>

        <div class="mb-3">
            <label for="id_postal_code" class="form-label">Postal Code</label>
            {{ form.postal_code }}
        </div>

        <div class="form-check">
            {{ form.is_default }}
            <label for="id_is_default" class="form-check-label">Set as Default Address</label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">
            {% if form.instance.pk %}Update{% else %}Add{% endif %}
        </button>
    </form>
</div>
{% endblock %}
