{% extends "admin/admin_base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Create Category</h2>
        <a href= '{% url "admin_category" %}' class="btn btn-secondary">Back</a>
    </div>
    <div class="container bg-dark p-4 rounded">
        <form action="#" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="category_name" class="form-label">Category Name</label>
                <input type="text" id="category_name" name="category_name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="category_offer" class="form-label">Category Offer</label>
                <input type="number" id="category_offer" name="category_offer" class="form-control" >
            </div>

            <div class="mb-3">
                <label for="category_image" class="form-label">Category Image</label>
                <input type="file" id="category_image" name="category_image" class="form-control" accept="image/*" required>
            </div>


            <div class="d-flex align-content-center justify-content-center">
                <button  type="submit" class="btn btn-success w-50">Create</button>

            </div>

        </form>


    </div>
</div>

{% endblock %}
