
{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 ">
    <h2 class="mb-4 text-center">My Orders</h2>
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search Order ID..." value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br>
    {% if orders %}
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Grand Total</th>
                    <th>order status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td><a href='{% url "order_details" order.order_id %}'>{{ order.order_id }}</a></td>
                    <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                    <td>₹{{ order.grand_total }}</td>
                    <td>{{ order.order_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
</div>

{% endblock %}