{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('{% static "images/bg_1.jpg" %}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href={% url "home" %}>Home</a></span> <span>Products</span></p>
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="{% url 'user_products' %}" {% if not selected_category_id %}class="active"{% endif %}>All</a></li>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'products_by_category' category.id %}" 
                               {% if category.id == selected_category_id %} class="active"{% endif %}>
                               {{ category.category_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="row">
            {% for product in products %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href='{% url "product_desc" product.variants.first.id %}' class="img-prod">
                        <img class="img-fluid" src="{{ product.variants.first.images.first.image.url }}" alt="{{ product.product_name }}">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">{{ product.product_name }}</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="price-sale">₹ {{ product.price }}</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No products available in this category.</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
